{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}: : before, #Banner-{{ section.id }}.banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}
        %;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}



<div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank%} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign sizes = full_width
      -%}
      {{
         section.settings.image
       | image_url: width: 3840
       | image_tag:
       width: section.settings.image.width,
       height: image_height,
       class: image_class,
       sizes: sizes,
       widths: widths,
       fetchpriority: fetch_priority }}
    </div>
  {%- elsif section.settings.image_1 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      <img src="https://www.animalfriends.co.uk/siteassets/media/images/article-images/cat-articles/40_afi_article1_how-autumn-affects-your-cats-appetite.png">
    </div>
  {%- endif -%}

  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"></div>
</div>

{% schema %}
  {
    "name": "t:sections.image-banner.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      }, {
        "type": "select",
        "id": "image_height",
        "options": [
          {
            "value": "extra-small",
            "label": "t:sections.image-banner.settings.image_height.options__1.label"
          }, {
            "value": "small",
            "label": "t:sections.image-banner.settings.image_height.options__2.label"
          }, {
            "value": "medium",
            "label": "t:sections.image-banner.settings.image_height.options__3.label"
          }, {
            "value": "large",
            "label": "t:sections.image-banner.settings.image_height.options__4.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.image-banner.settings.image_height.label",
        "info": "t:sections.image-banner.settings.image_height.info"
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-banner.presets.name"
      }
    ]
  }
{% endschema %}
